@font-face{
    font-family: 'fontGame';
    src: url('../../BaiTapRedux/font/Pony.ttf');
}

.bg-game{
    background-image: url('../../assets/gameXucXac/bgGame.png');

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    font-family: 'fontGame';
}