.header{
    background: #0365C0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    height: 5rem;
}

.navigation{
    color: #fff;
    background: #00AF50;
    height: 15rem;
}

.content{
    color: #fff;
    background: #418C75;
    height: 15rem;
}

.footer{
    color: #fff;
    background: #012060;
    text-align: center;
    font-size: 30px;
    height: 5rem;
}